.paragraph-image-position-left .field-name-field-paragraph-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.paragraph-image-position-right .field-name-field-paragraph-image {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.main-form .form-buttons {position: fixed;}

.main-form .form-buttons .form-actions {
  margin-top: 0;
  margin-bottom: 0;
}

.main-form .main-form-fields {
  padding-top: 50px;
}
